
    #content h1 {
      margin-left: 110px;
    }
    #doulist-info .hd {
      margin-bottom: 10px;
      margin-left: 110px;
      font-size: 13px;
      color: #666;
      overflow: hidden;
      *zoom: 1;
    }
    #doulist-info .doulist-cover {
      width: 95px;
      height: 95px;
      float: left;
      margin-top: -43px;
      overflow: hidden;
    }
    #doulist-info .doulist-cover img {
      max-width: 95px;
    }
    #doulist-info .avatar {
      float: left;
      margin-right: 10px;
    }
    #doulist-info .time {
      margin-left: 10px;
    }
    #doulist-info .bd {
      margin-left: 110px;
      font-size: 13px;
    }
    .doulist-about { line-height:1.62; }
  
        #link-report .report { text-align: right; font-size: 12px; visibility: hidden; }
        #link-report .report a { color: #BBB; }
        #link-report .report a:hover { color: #FFF; background-color: #BBB; }
        
.dui-dialog { position:fixed;_position:absolute;z-index:1000; }
.dui-dialog .dui-dialog-content {
  position: relative;
  z-index: 2;
  background: #fff;
  border: 1px solid #bbb;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *zoom: 1;
}
.dui-dialog .hd {
  padding: 10px 10px 6px;
  background: #ebf5eb;
  font-size: 14px;
  -moz-border-radius: 4px;
  border-radius: 4px 4px 0 0;
}
.dui-dialog .hd h3 { padding:0 40px 0 4px;background:none;color:#060; }
.dui-dialog .hd h3 i { color:#060;font-style:normal;margin-left:0.5ex; }
.dui-dialog .bd { position:relative; padding:15px;*zoom:1;font-size:12px;}
.dui-dialog .bd:after { content:&#39;\0020&#39;;clear:both;display:block; }
.dui-dialog .ft .bn-flat,
.dui-dialog .ft input { margin:0 .5em; }
.dui-dialog .ft { text-align:center;padding:10px;padding-top:0; }
.dui-dialog .dui-dialog-close {
  position: absolute;
  top: 10px;
  right: 12px;
  padding: 0 3px;
  z-index: 1;
  font: 11px/1.2 &#34;Comic Sans MS&#34;, sans-serif;
}
a.dui-dialog-close:link { color:#b4b4b4; }
a.dui-dialog-close:hover {color: #fab0b6; background:none; }
.dui-dialog .dui-dialog-shd {
    position:absolute;
    left:-8px;
    top:-8px;
    width:100%;
    height:100%;
    padding:8px;
    background:#666;
    opacity:.4;
    filter:alpha(opacity=50);
    -ms-filter:&#34;alpha(opacity=50)&#34;;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.dui-dialog-iframe { border:0;background:transparent;position:absolute;z-index:1;left:-8px;top:-8px;opacity:0;filter:alpha(opacity=0); }
.dui-dialog-msk {
    background:#fff;
    position:absolute;
    width: 100%;
    z-index:999;
    left:0;
    top:0;
    opacity:0.7;
    filter:alpha(opacity=70);
}


    
    .doulist-collect { float: left; }
    .lnk-collect {
      display:inline-block;*display:inline;zoom:1;;vertical-align:middle;*vertical-align:baseline;height:19px;line-height:19px;line-height:21px\9;overflow:hidden;;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:2px;
      border: solid 1px #daede4;
      color: #4f946e;
      padding: 3px 8px 2px 24px;
      margin-right: 12px;
      background: #eff7ed no-repeat url("/f/sns/cece2beee6f89a9f640b9644b393bb6e8e5759e4/pics/sns/doulist/plus-green.png") 8px center / 12px;
    }
    .lnk-collect i { display:inline-block;*display:inline;zoom:1;vertical-align:baseline;font-weight:600;font-size:14px;margin-right:3px; }
    a.lnk-collect:link,
    a.lnk-collect:visited {
      border-color:#daede4;
      background: #eff7ed no-repeat url("/f/sns/cece2beee6f89a9f640b9644b393bb6e8e5759e4/pics/sns/doulist/plus-green.png") 8px center / 12px;
      color:#4f946e; }
    a.lnk-collect:hover,
    a.lnk-collect:active {
      border-color:#daede4;
      background: #eff7ed no-repeat url("/f/sns/cece2beee6f89a9f640b9644b393bb6e8e5759e4/pics/sns/doulist/plus-green.png") 8px center / 12px;
      color:#4f946e; }
    .doulist-collect .unfollow{
      border-radius: 2px;
      border: solid 1px #dfdfdf;
      padding: 3px 8px 2px 26px;
      vertical-align: middle;
      float: left;
      font-size: 12px;
      color: #cccccc;
      background: #ededed no-repeat url("/f/sns/f441e4afe42021624f46da2e4af11014ca55bc57/pics/sns/doulist/check.png") 8px center / 10px;
      cursor: pointer;
    }
  
  .doulist-video-items {
    width: 90px;
    float: right;
    font-size: 12px;
    margin-top: 30px;
    position: relative;
  }
  .doulist-video-items span.title {
    display: block;
    color: #9b9b9b;
    font-size: 13px;
  }
  .doulist-video-items a {
    display: block;
    margin-top: 10px;
    line-height: 16px;
  }
  .doulist-video-items .icon-circle {
    height: 14px;
    width: 14px;
    border: 1px solid #efefef;
    border-radius: 100%;
    float: left;
    margin-right: 3px;
  }
  .doulist-video-items a img {
    height: 14px;
    width: 14px;
    vertical-align: top;
    border-radius: 100%;
  }
  .doulist-video-items .video-items-other {
    display: none;
    width: 90px;
    border: 1px solid #efefef;
    border-radius: 5px;
    padding: 0 15px 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 99px;
    right: -96px;
    background: #fff;
  }
  .doulist-video-items .more-video-item img {
    height: 14px;
    width: 14px;
    vertical-align: middle;
  }


    .basic-input,.basic-textarea{padding:5px;height:18px;font-size:14px;vertical-align:middle;border:1px solid #c9c9c9;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}.basic-input:focus,.basic-textarea:focus{border:1px solid #a9a9a9}.basic-textarea{height:auto}.doulist-comment-form{width:400px;margin:auto;padding-top:20px}.doulist-comment-form .item{margin-bottom:10px}.doulist-comment-form .item-submit{text-align:center}.doulist-comment-form .item-submit .bn-flat{margin:0 1em}.doulist-comment-form label{float:left;margin-right:10px;color:#060}.doulist-comment-form textarea{width:340px;height:60px}.doulist-comment-form .lnk-use-mine{float:right;margin:5px 10px 0 0}.lnk-doulist-add i{display:inline-block;zoom:1;width:10px;height:16px;vertical-align:middle;overflow:hidden;background:#fff url(/f/sns/61cc48ba7c40e0272d46bb93fe0dc514f3b71ec5/pics/add-doulist.gif) no-repeat 0 2px;margin-top:-3px}.dialog-doulist .dui-dialog-content{box-shadow:0 0px 7px rgba(0,0,0,0.3)}.dui-dialog.dialog-doulist .dui-dialog-close{font-size:0;height:14px;width:14px;right:20px;top:17px;background:transparent url(/f/sns/6b2a294d4a7d7981f53f7c5891a6ed8b206c2258/pics/sns/doulist/icon_close_14.png) no-repeat center center;background-image:url(/f/sns/6b2a294d4a7d7981f53f7c5891a6ed8b206c2258/pics/sns/doulist/icon_close_14.png);background-image:-webkit-image-set(url(/f/sns/6b2a294d4a7d7981f53f7c5891a6ed8b206c2258/pics/sns/doulist/icon_close_14.png) 1x, url(/f/sns/a7fdbc20cd36c6d4d31087a8a0783b9140ef9c8c/pics/sns/doulist/icon_close_14@2x.png) 2x);background-image:-moz-image-set(url(/f/sns/6b2a294d4a7d7981f53f7c5891a6ed8b206c2258/pics/sns/doulist/icon_close_14.png) 1x, url(/f/sns/a7fdbc20cd36c6d4d31087a8a0783b9140ef9c8c/pics/sns/doulist/icon_close_14@2x.png) 2x);background-image:-ms-image-set(url(/f/sns/6b2a294d4a7d7981f53f7c5891a6ed8b206c2258/pics/sns/doulist/icon_close_14.png) 1x, url(/f/sns/a7fdbc20cd36c6d4d31087a8a0783b9140ef9c8c/pics/sns/doulist/icon_close_14@2x.png) 2x);background-image:-o-image-set(url(/f/sns/6b2a294d4a7d7981f53f7c5891a6ed8b206c2258/pics/sns/doulist/icon_close_14.png) 1x, url(/f/sns/a7fdbc20cd36c6d4d31087a8a0783b9140ef9c8c/pics/sns/doulist/icon_close_14@2x.png) 2x)}.dialog-doulist .dui-dialog-shd{display:none}.dialog-doulist .dui-dialog-content .bd{padding:0}.dui-dialog.dialog-doulist .hd{border-bottom:1px solid #e5e5e5;padding:13px 20px 10px;background:#fff;font-size:16px;color:#444}.doulist-bd{display:-ms-flex;display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center}.doulist-bd .doulist-preview{width:180px;box-sizing:border-box;padding:0 20px;margin:70px 0;text-align:center;font-size:15px;color:#666;word-wrap:break-word}.doulist-bd .doulist-preview img{max-height:140px;max-width:140px}.doulist-bd .doulist-preview .item-title{margin:1em 0 0 0;overflow:hidden;max-height:44px;text-overflow:ellipsis;text-overflow:-o-ellipsis-lastline;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical}.doulist-bd .doulist-content{-webkit-flex:1;flex:1;border-left:1px solid #e5e5e5;padding-bottom:10px;overflow:hidden}.doulist-bd .item{padding:20px 20px 0 20px;position:relative}.doulist-bd .item+.item{border-top:1px solid #e5e5e5}.doulist-bd .item-hd{margin-bottom:10px}.doulist-bd .item-hd h3{display:inline-block;background:none;margin:0 10px 0 0;font-size:15px;line-height:26px;color:#666}.doulist-bd .item-hd .lnk-flat{height:26px;border-color:#c5c5c5;padding:0 8px;margin:0;line-height:26px;color:#555;vertical-align:top;outline:none;background-image:-webkit-linear-gradient(top, #fff, #f3f3f3);background-image:-moz-linear-gradient(top, #fff, #f3f3f3);background-image:linear-gradient(top, #fff, #f3f3f3);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FFFFFFFF', EndColorStr='#FFF3F3F3');border-radius:2px}.doulist-bd label{float:left;width:60px;vertical-align:top}.doulist-bd label span{color:#ccc}.doulist-bd .dl-bd{width:100%;word-wrap:break-word}.doulist-bd .dl-bd{display:inline-block;height:125px;overflow:hidden}.doulist-bd .dl-bd .dl-item{clear:both}.doulist-bd .dl-bd label{vertical-align:middle;line-height:21px;width:85px}.doulist-bd .dl-bd label input{margin-bottom:3px}.doulist-bd .dl-bd #dl_new,.doulist-bd .dl-bd #dl_exist{margin-right:3px !important}.doulist-bd .dl-bd .dl-title{width:100%;box-sizing:border-box;height:auto;padding:6px 5px 6px 5px;margin-right:0;font-size:13px;line-height:18px;border:none}.doulist-bd .dl-bd .dl-title::-webkit-input-placeholder{color:#aaa;font-size:12px}.doulist-bd .dl-bd .dl-title:-moz-placehoder,.doulist-bd .dl-bd .dl-title::-moz-placehoder{color:#aaa;font-size:12px}.doulist-bd .dl-bd select{max-width:68%;margin:0;padding:0;outline:0;vertical-align:middle;line-height:19px}.doulist-bd .dl-bd .dl-item-exist label input{margin-bottom:3px}.doulist-bd .dl-bd .dl_id_disable{color:#999}.doulist-bd .dl_search{float:right;padding:4px 4px 4px 18px;width:0;width:.1px\9;border-radius:26px;border:1px solid #c5c5c5;margin-right:0;background:transparent url(/f/sns/7ca09ad17d660912b2eaa87897d63bf89922108e/pics/sns/doulist/icon_search.png) no-repeat right 50%;background-image:url(/f/sns/7ca09ad17d660912b2eaa87897d63bf89922108e/pics/sns/doulist/icon_search.png);background-image:-webkit-image-set(url(/f/sns/7ca09ad17d660912b2eaa87897d63bf89922108e/pics/sns/doulist/icon_search.png) 1x, url(/f/sns/509604e8b68b7d60f7a27cf7560cdbaf8b5ab62e/pics/sns/doulist/icon_search@2x.png) 2x);background-image:-moz-image-set(url(/f/sns/7ca09ad17d660912b2eaa87897d63bf89922108e/pics/sns/doulist/icon_search.png) 1x, url(/f/sns/509604e8b68b7d60f7a27cf7560cdbaf8b5ab62e/pics/sns/doulist/icon_search@2x.png) 2x);background-image:-ms-image-set(url(/f/sns/7ca09ad17d660912b2eaa87897d63bf89922108e/pics/sns/doulist/icon_search.png) 1x, url(/f/sns/509604e8b68b7d60f7a27cf7560cdbaf8b5ab62e/pics/sns/doulist/icon_search@2x.png) 2x);background-image:-o-image-set(url(/f/sns/7ca09ad17d660912b2eaa87897d63bf89922108e/pics/sns/doulist/icon_search.png) 1x, url(/f/sns/509604e8b68b7d60f7a27cf7560cdbaf8b5ab62e/pics/sns/doulist/icon_search@2x.png) 2x);background-origin:content-box;-moz-transition:all 0.35s;-webkit-transition:all 0.35s;cursor:pointer}.doulist-bd .dl_search:focus,.doulist-bd .dl_search.expand{width:120px;cursor:text}.doulist-bd .dl_search.loading{height:auto;margin:0;background-image:url(/f/sns/b66b312561667597f59ae2ff465eb5e301b70046/pics/loading.gif)}.doulist-bd .clear_search{display:none;position:absolute;right:24px;top:22px;width:15px;height:20px;border-radius:50px;font-size:0;background:url(/f/sns/beeb8488f262369f4afef0dd6851a068baf90d03/pics/sns/doulist/icon_close.png) #fff no-repeat center center;background-image:url(/f/sns/beeb8488f262369f4afef0dd6851a068baf90d03/pics/sns/doulist/icon_close.png);background-image:-webkit-image-set(url(/f/sns/beeb8488f262369f4afef0dd6851a068baf90d03/pics/sns/doulist/icon_close.png) 1x, url(/f/sns/2b5c32d43ebccd098c72bc7b32be10c04bb3fc0e/pics/sns/doulist/icon_close@2x.png) 2x);background-image:-moz-image-set(url(/f/sns/beeb8488f262369f4afef0dd6851a068baf90d03/pics/sns/doulist/icon_close.png) 1x, url(/f/sns/2b5c32d43ebccd098c72bc7b32be10c04bb3fc0e/pics/sns/doulist/icon_close@2x.png) 2x);background-image:-ms-image-set(url(/f/sns/beeb8488f262369f4afef0dd6851a068baf90d03/pics/sns/doulist/icon_close.png) 1x, url(/f/sns/2b5c32d43ebccd098c72bc7b32be10c04bb3fc0e/pics/sns/doulist/icon_close@2x.png) 2x);background-image:-o-image-set(url(/f/sns/beeb8488f262369f4afef0dd6851a068baf90d03/pics/sns/doulist/icon_close.png) 1x, url(/f/sns/2b5c32d43ebccd098c72bc7b32be10c04bb3fc0e/pics/sns/doulist/icon_close@2x.png) 2x)}.doulist-bd .dl_new_title{position:relative;margin-bottom:3px;border:1px solid #c9c9c9;border-radius:3px}.doulist-bd .dl_new_title .dl_new_submit{height:24px;float:right;padding:0 13px;border:1px solid #cdcdcd;margin:0;font-size:13px;line-height:24px;background:#00b128;color:#fff;border-radius:2px}.doulist-bd .dl_new_title .dl_new_submit:disabled{background:#d8d8d8}.doulist-bd .no-match-warning{color:#666}.doulist-bd .dl-item-exist{height:125px;overflow-y:auto;user-select:none;-webkit-user-select:none}.doulist-bd .dl_exist_select{font-size:13px}.doulist-bd .dl_exist_select .dl-item-wrap{overflow:hidden}.doulist-bd .dl_exist_select label{box-sizing:border-box;width:100%;padding:7px 9px;border-radius:3px;cursor:pointer}.doulist-bd .dl_exist_select label:hover{background:#e9eef2}.doulist-bd .dl_exist_select label b{font-weight:normal}.doulist-bd .dl_exist_select label b[data-is-private="true"]:after{content:" ";display:inline-block;background-image:url(/f/sns/7f3fc13996370275a05d5e3e855fdd36fc75c127/pics/sns/doulist/lock-gray.png);width:11px;height:11px;background-size:contain;background-repeat:no-repeat;background-position:center;margin-left:6px;position:relative;top:1px}.doulist-bd .dl_exist_select label b .cancel-collect-btn{display:none;background-image:url(/f/sns/ad5532b9f83ddaa0a4f2abb7388c345f4dafc348/pics/sns/doulist/ic_collected.png);width:14px;height:14px;background-size:contain;background-repeat:no-repeat;background-position:center;margin-right:8px;vertical-align:middle;position:relative;top:-1px;cursor:pointer}.doulist-bd .dl_exist_select label b .cancel-collect-btn[data-is-collected="true"]{display:inline-block}.doulist-bd .dl_exist_select label b[data-is-collected="true"]:before{content:" "}.doulist-bd .dl_exist_select label span{float:right;font-size:13px;color:#999}.doulist-bd .dl_exist_select input{position:absolute;width:0;opacity:0;outline:none}.doulist-bd .dl_exist_select .checked_dl label{background:#a2bcd0;color:#fff}.doulist-bd .dl_exist_select .checked_dl label span{color:#fff}.doulist-bd .dl_exist_select input:disabled+label{cursor:default}.doulist-bd .dl_exist_select input:disabled+label:hover{background:none}.doulist-bd .dl_exist_select input:checked+label{background:#a2bcd0;color:#fff}.doulist-bd .dl_exist_select input:checked+label span{color:#fff}.doulist-bd .dl_exist_select input:checked+label b[data-is-private="true"]:after{background-image:url(/f/sns/6a73e6b2bf88bdb168a8cd861f32a38c27491641/pics/sns/doulist/lock.png)}.doulist-bd .dl_exist_select.fold{height:90px}.doulist-bd .basic-textarea{width:100%;height:4em;box-sizing:border-box;padding:10px}.doulist-bd .create-panel{overflow:hidden}.doulist-bd .form-field-error{clear:both;zoom:1;color:#f30}.doulist-bd .item-submit{padding:15px;text-align:center}.doulist-bd .item-submit .bn-flat{margin:0 1em}.doulist-ft{padding:11px 18px;border-top:1px solid #e5e5e5;text-align:right;color:#666;background:#f1f1f1;clear:both;overflow:hidden}.doulist-ft .bn-flat{margin-left:20px;border-color:#ccc}.doulist-ft .bn-flat:hover{border-color:#bbb}.doulist-ft .bn-flat input{height:35px;padding:0 26px;font-size:14px;color:#666;background-image:-webkit-linear-gradient(top, #fcfcfc, #ececec);background-image:-moz-linear-gradient(top, #fcfcfc, #ececec);background-image:linear-gradient(top, #fcfcfc, #ececec);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FFFCFCFC', EndColorStr='#FFECECEC')}.doulist-ft .bn-flat input:hover{background-image:-webkit-linear-gradient(top, #fafafa, #e4e4e4);background-image:-moz-linear-gradient(top, #fafafa, #e4e4e4);background-image:linear-gradient(top, #fafafa, #e4e4e4);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FFFAFAFA', EndColorStr='#FFE4E4E4')}.doulist-ft .bn-flat .doulist_submit{background:#00b128;filter:none;color:#fff}.doulist-ft .bn-flat .doulist_submit:hover{background-image:-webkit-linear-gradient(top, #00AF00, #069C1E);background-image:-moz-linear-gradient(top, #00AF00, #069C1E);background-image:linear-gradient(top, #00AF00, #069C1E);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FF00AF00', EndColorStr='#FF069C1E');color:#fff !important}.doulist-ft label{float:left;width:auto !important}.doulist-ft .lnk-bookmarklet{float:left;margin:10px 0 0}.doulist-tabs{padding-bottom:8px;margin-bottom:10px;border-bottom:1px dashed #ddd;color:#999}.doulist-tabs .on:link,.doulist-tabs .on:visited,.doulist-tabs .on:hover,.doulist-tabs .on:active{color:#999;background:transparent;cursor:text}.doulist-loading{padding:10px;color:#999;text-align:center}.doulist-noresult{padding:10px;color:#999;text-align:center}.doulist-more-link{padding:4px 0 0 18px}.dialog-doulist .ft .bn-flat{margin:0 1em !important}.doulist-submit-success{margin:10px;text-align:center;color:#060;font-size:14px;word-wrap:break-word;padding:30px 10px}.doulist-submit-success i{display:inline-block;zoom:1;width:26px;height:22px;margin:0 10px 0 0;vertical-align:middle;background:url(/f/sns/b896034f7962367ae760021ef6569a8db74808b3/pics/allright.gif) no-repeat}.doulist-submit-success div{margin-top:40px}.doulist-submit-success p{font-size:13px;color:#999;margin-top:-40px}.doulist-submit-success p b{font-weight:normal}.dl-item-exist ::-webkit-scrollbar{-webkit-appearance:none;height:15px;width:15px}.dl-item-exist ::-webkit-scrollbar-button{height:0;width:0;display:none}.dl-item-exist ::-webkit-scrollbar-thumb{background-clip:padding-box;background-color:rgba(0,0,0,0.3);border:5px solid transparent;border-radius:10px;min-height:20px;min-width:20px;height:5px;width:5px}.dl-item-exist ::-webkit-scrollbar-corner{background-color:transparent}.dl-item-exist ::-webkit-scrollbar-thumb:vertical{min-height:40px}.dl-item-exist ::-webkit-scrollbar-thumb:hover,.dl-item-exist ::-webkit-scrollbar-thumb:active{background-color:rgba(0,0,0,0.4)}.dl_action_block{overflow:hidden;position:relative;padding:4px}.dl_create_option{overflow:hidden;position:absolute;bottom:7px;left:4px}.dl_create_option span,.dl_create_option label,.dl_create_option input{float:left;line-height:16px !important;display:block;font-size:12px;color:rgba(0,0,0,0.7);height:16px !important;width:auto}.dl_create_option label{margin-right:15px}.dl_create_option input{margin-right:5px;margin-top:1px}

  
    .comments .comment-report { float: right; clear: right; margin-left: 10px; }
    .comments .comment-report { font-size: 13px; visibility: hidden; }
    .comments .comment-report a { color: #BBB; border: none; }
    .comments .comment-report a:hover { color: #FFF; background-color: #BBB; }
    .dui-dialog{position:fixed;_position:absolute;z-index:1000}.dui-dialog .dui-dialog-content{position:relative;z-index:2;background:#fff;border:1px solid #bbb;-moz-border-radius:4px;border-radius:4px;*zoom:1}.dui-dialog .hd{padding:10px 10px 6px;background:#ebf5eb;font-size:14px;-moz-border-radius:4px;border-radius:4px 4px 0 0}.dui-dialog .hd h3{padding:0 40px 0 4px;background:none;color:#060}.dui-dialog .hd h3 i{color:#060;font-style:normal;margin-left:0.5ex}.dui-dialog .bd{position:relative;padding:15px;*zoom:1;font-size:12px}.dui-dialog .bd:after{content:'\0020';clear:both;display:block}.dui-dialog .ft .bn-flat,.dui-dialog .ft input{margin:0 .5em}.dui-dialog .ft{text-align:center;padding:10px;padding-top:0}.dui-dialog .dui-dialog-close{position:absolute;top:10px;right:12px;padding:0 3px;z-index:1;font:11px/1.2 "Comic Sans MS", sans-serif}a.dui-dialog-close:link{color:#b4b4b4}a.dui-dialog-close:hover{color:#fab0b6;background:none}.dui-dialog .dui-dialog-shd{position:absolute;left:-8px;top:-8px;width:100%;height:100%;padding:8px;background:#666;opacity:.4;filter:alpha(opacity=50);-ms-filter:"alpha(opacity=50)";-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}.dui-dialog-iframe{border:0;background:transparent;position:absolute;z-index:1;left:-8px;top:-8px;opacity:0;filter:alpha(opacity=0)}.dui-dialog-msk{background:#fff;position:absolute;width:100%;z-index:999;left:0;top:0;opacity:0.7;filter:alpha(opacity=70)}.report-dialog a{color:#017722}.report-dialog a:hover{background:#017722;color:white}.report-dialog .dui-dialog-content .bd{padding:20px 20px;font-size:13px;color:#0E0E0E}.report-dialog .dui-dialog-content .hd h3{color:#072}.report-dialog .dui-dialog-content .bd ul li{display:block}.report-dialog .dui-dialog-content .bn-flat{display:block;margin:0 auto;float:none;width:50px;color:#ffffff}.report-dialog .dui-dialog-content .bn-flat input{*width:50px;padding:0 14px}.report-dialog .dui-dialog-content .span{display:block;margin-left:auto;margin-right:auto;width:300px}.report-dialog .dui-dialog-content .up{width:100px;font-size:12pt}.report-dialog .extra-options{border-top:1px solid #dfdfdf;margin-top:16px;padding-top:16px}.report-dialog .extra-options>.content .link{font-size:13px;height:18px;line-height:18px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.report-dialog .extra-options>.content .link,.report-dialog .extra-options>.content .link:hover,.report-dialog .extra-options>.content .link:visited,.report-dialog .extra-options>.content .link:active{color:#0E0E0E;background:transparent}.report-dialog .extra-options>.content .link::after{content:'';display:inline-block;vertical-align:middle;width:18px;height:18px;margin-left:4px;background:url(/f/shire/c0c3478524c9338ace2ea316b6a74d1dc493d748/pics/icon/more@2x.png) no-repeat center;background-size:contain}.report-dialog .extra-options>.content .desc{font-size:13px;color:#9B9B9B}.report-dialog .extra-options>.account .victim-form{display:none;position:relative}.report-dialog .extra-options>.account .victim-input{margin-top:4px;display:block;width:100%;box-sizing:border-box;border:1px solid #CCCCCC;padding:5px 10px}.report-dialog .extra-options>.account .victim-input::-webkit-input-placeholder{font-size:13px;color:#CCCCCC}.report-dialog .extra-options>.account .victim-msg{color:red;display:none}.report-dialog .extra-options>.account .help-link{margin-top:4px;font-size:12px}#report_value{margin-bottom:20px;*margin-bottom:0px;*font-size:12px;padding-left:40px}

  
      .tags {padding-bottom: 20px;}
      .tag,.tag:link,.tag:visited{width:auto;word-break:keep-all;white-space:nowrap;background-color:#f5f5f5;color:#37A;font-size:13px;padding:2px 11px 0;display:inline-block;margin:0 3px 5px 0;line-height:20px}.tag:hover,.tag:active{background-color:#e8e8e8;color:#37A}

    
    .comment-list li {
        position: relative;
        padding-left: 48px;
        margin-bottom: 20px;
    }
    .comment-list .avatar {
        position: absolute;
        top: 0;
        left: 0;
    }
    .comment-list p {
        margin: 3px 0 0;
    }
    .comment-list p a:link,
    .comment-list p a:visited {
        color: #666;
    }
    .comment-list p a:hover {
        color: #fff;
    }

    #db-nav-sns .nav-primary{width:1040px}#wrapper{width:1040px}#wrapper .grid-16-8 .article{width:675px}#wrapper .grid-16-8 .aside{width:300px}@media (max-width: 1024px){body{width:1024px}body .grid-16-8 .article{padding-right:25px}#wrapper{width:1000px}[id^=dale_]{max-width:1000px}body #db-nav-sns .nav-primary{width:1000px}body #db-global-nav,body .nav{min-width:1024px}}html body,html td,html th,html input,html .pl{font-size:13px}html .pl2{font-size:14px}html h3{font-size:15px}html h2{font-size:16px}html h1{font-size:26px}.ob,.obu{width:75px}.ob dt .m_sub_img{width:48px}.ob dd{height:58px}.obu dd{word-wrap:break-word;word-break:normal}.xbar{background-repeat:repeat-x}.photo_wrap{width:200px;margin:10px 12.5px 25px}.photo_wrap img{max-width:100%;max-height:200px}.dui-dialog .bd{font-size:13px}.paginator{font-size:15px}

  