
        #db-usr-profile .info ul li { margin-right: 10px;}
    
    .side-info {
        overflow: hidden;
        *zoom: 1;
        margin-bottom: 20px;
        padding: 16px;
        background: #F0F3F5;
    }
    .side-info-avatar {
        float: left;
        margin-right: 14px;
    }
    .side-info-txt {
        word-wrap: break-word;
        overflow: hidden;
        *zoom: 1;
    }
    .side-info .user-content{
        margin-top:15px;
    }
    .side-info-txt h3 {
        margin: 0;
        font-size: 16px;
        background: none;
        color: #111;
    }

    .side-info .ft {
        color: #aaa;
    }
    .side-info .lnk-contact-add {
        display: inline-block;
        *display: inline;
        zoom: 1;
        padding: 0 22px 0 10px;
        border: 1px solid #d6b79d;
        border-radius: 3px;
        margin-right: 10px;
        vertical-align: middle;
  }

  .side-info .lnk-contact-add:active,.lnk-contact-add:hover,.lnk-contact-add:visited,.lnk-contact-add:link {
      color: #584E46;
      background: #ffe6ce url(/pics/icon-add.png) 63px 50% no-repeat;
  }
  .side-info .usercard-followed {
      padding-left: 12px;
      margin-right: 10px;
      background: url(/pics/icon-ok.png) 0 50% no-repeat;
  }
